<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <title>Introdução ao Node.Js</title>
</head>

<body>
    <h1>Página de Detalhe </h1>

    <ul>
     <li> <%= cliente.nome %> - <%= cliente.email %> </li>  
    </ul>

</html>